body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(241, 214, 238);
}
h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}
h3 {
    font-size: 28px;
    margin-top: 50px;
    margin-left: 150px;
}
h4 {
    color: rgb(227, 61, 61);
    font-size: 24px;
    margin-top: 50px;
    margin-left: 200px;
}
p {
    font-size: 20px;
    margin-left: 250px;
}